        @media screen and (max-width: 720px) {
            .nav {
                width: 30%;
                li {
                    a {
                        font-size: 1.5em;
                    }
                }
            }
            header {
                background-size: 100%;
                height: 600px;
                background-image: url(../images/fondo_720.jpg);
                p {
                    font-size: 0.84em;
                }
                .web {
                    width: 88%;
                    font-size: .8em;
                }
                .presentacion {
                    p {
                        margin-top: 8%;
                    }
                    .magui {
                        width: 45%;
                        right: 0;
                    }
                    .hola {
                        font-size: 1.3em;
                        width: 60%;
                    }
                    .expresividad {
                        font-size: 1.5em;
                        width: 60%;
                        padding-right: 15%;
                    }
                    .vende {
                        font-size: 1.5em;
                        margin: 10% 15%;
                        align-self: start;
                    }
                    .lista {
                        font-size: 1.4em;
                    }
                }
            }
            h3 {
                font-size: 1.4em;
                width: 80%;
            }
            .servicios {
                display: flex;
                flex-direction: column;
                width: 90%;
                article {
                    width: 55%;
                    margin: 2% auto;
                    height: 630px;
                    .caja {
                        height: max-content;
                        padding: 11%;
                    }
                }
                .identidad {
                    .caja {
                        p {
                            width: 95%;
                            margin: 10% auto;
                        }
                    }
                }
                .comunicate {
                    .caja {
                        padding: 7%;
                        p {
                            width: 95%;
                            margin: 10% auto;
                        }
                    }
                }
                .asesoria {
                    .caja {
                        padding: 2%;
                        p {
                            width: 85%;
                            margin: 10% auto;
                        }
                    }
                }
            }
            .modal {
                .container {
                    header {
                        height: max-content;
                        font-size: 1em;
                    }
                    .modalidad {
                        section {
                            width: 100%;
                            justify-content: center;
                        }
                    }
                    .pago {
                        .arrow {
                            display: none;
                        }
                        .botones {
                            display: flex;
                            flex-direction: column;
                            label {
                                width: 90%;
                                margin: 3% auto;
                            }
                        }
                        p {
                            width: 90%;
                            font-size: 0.9em;
                        }
                    }
                }
            }
            .portfolio {
                width: 70%;
                font-size: 1em;
            }
            footer {
                label {
                    font-size: 1.3em;
                }
            }
        }
        
        @media screen and (max-width: 480px) {
            .nav {
                width: 30%;
                li {
                    a {
                        font-size: 1em;
                    }
                }
            }
            header {
                height: 400px;
                background-size: cover;
                p {
                    font-size: 0.5em;
                }
                .presentacion {
                    font-size: 1em;
                    width: 80%;
                    margin: 0% auto;
                    .hola {
                        width: 100%;
                        font-size: 1.1em;
                    }
                    .expresividad {
                        font-size: 1em;
                        width: 85%;
                    }
                    .lista {
                        font-size: 1.1em;
                    }
                    .texto {
                        text-align: center;
                        p {
                            margin-top: 10%;
                        }
                    }
                    .vende {
                        font-size: 1em;
                        width: 60%;
                        margin-right: 20%!important;
                    }
                    .magui {
                        right: 0%;
                        width: 35%;
                    }
                }
                .web {
                    font-size: 0.6em;
                    padding-left: 7%;
                    padding-right: 7%;
                }
            }
            h3 {
                width: 90%;
                font-size: 0.9em;
            }
            .servicios {
                flex-direction: column;
                article {
                    width: 90%;
                    margin: 2% auto;
                    p {
                        width: 90%;
                    }
                    .caja {
                        font-size: 1.1em;
                        padding: 3%;
                        width: 100%;
                    }
                }
            }
            .portfolio {
                width: 90%;
                font-size: 0.9em;
            }
            .modal {
                .container {
                    width: 80%;
                    header {
                        height: max-content;
                        font-size: 0.9em;
                        width: 100%;
                        p {
                            padding: 3%;
                            font-size: .8em;
                        }
                    }
                    h5 {
                        font-size: 0.9em;
                        text-align: center;
                        width: 90%;
                        margin: 5% auto;
                    }
                    section {
                        article {
                            margin-bottom: 5%;
                        }
                    }
                    ul {
                        font-size: 0.9em;
                    }
                    .modalidad {
                        flex-direction: column;
                    }
                    .pago {
                        font-size: 0.9em;
                        .botones {
                            flex-direction: column;
                            width: 90%;
                            flex-wrap: nowrap;
                            label {
                                width: 80%;
                                margin: 5% auto;
                            }
                        }
                        p {
                            width: 90%;
                        }
                    }
                }
            }
        }
        
        @media screen and (max-width: 320px) {
            .nav {
                width: 40%;
                li {
                    a {
                        font-size: 0.6em;
                    }
                }
            }
            header {
                height: 300px;
                background-size: cover;
                font-size: 0.6em;
                .presentacion {
                    width: 65%;
                    align-self: center;
                    .texto {
                        align-items: center;
                        p {
                            margin-top: 10%;
                        }
                    }
                    .magui {
                        width: 40%;
                    }
                    p {
                        font-size: .7em;
                    }
                    .hola {
                        width: 100%;
                        font-size: 1.2em;
                    }
                    .expresividad {
                        width: 100%;
                        font-size: 1.3em;
                        margin-top: 2%!important;
                    }
                    .vende {
                        font-size: 1.4em;
                        width: 65%;
                        margin: 10% 0%;
                    }
                    .lista {
                        font-size: 1.5em;
                        text-align: center;
                    }
                }
                .web {
                    height: max-content;
                    font-size: .6em;
                    width: 80%;
                    padding: 1%;
                }
            }
            .portfolio {
                font-size: 0.5em;
            }
            h3,
            footer>label {
                font-size: 0.6em;
            }
            h3 {
                width: 80%;
            }
            .servicios {
                article {
                    width: 80%;
                    margin: 2% auto;
                    height: 400px;
                    .caja {
                        padding: 7%;
                        p {
                            width: 91%;
                            font-size: 0.6em;
                        }
                        h5,
                        h6 {
                            font-size: 0.7em;
                        }
                    }
                }
            }
            .modal {
                .container {
                    .cerrar {
                        font-size: .8em;
                    }
                    span {
                        font-size: 0.5em;
                    }
                    header {
                        p {
                            font-size: 1.1em;
                            margin-bottom: 0;
                        }
                    }
                    h5 {
                        font-size: 0.8em;
                        span {
                            font-size: 1.2em;
                        }
                        width: 100%;
                    }
                    h6 {
                        margin: 3%;
                        width: 100%;
                    }
                    .modalidad {
                        section {
                            article {
                                ul {
                                    padding: 10px;
                                    font-size: .9em;
                                }
                            }
                        }
                    }
                    section {
                        .asesoria {
                            font-size: .7em;
                        }
                        article {
                            p {
                                font-size: .9em;
                            }
                        }
                    }
                    .modalidad {
                        font-size: 1.3em;
                        section {
                            width: 100%;
                            ul {
                                font-size: 0.7em;
                            }
                            article {
                                ul {
                                    font-size: 0.7em;
                                }
                            }
                        }
                    }
                    .pago {
                        font-size: 0.8em;
                        article {
                            font-size: 0.8em;
                            span,
                            b {
                                font-size: 1em;
                            }
                            ul {
                                font-size: 0.8em;
                            }
                        }
                        /*  .botones {
            flex-direction: column;
            width: 90%;
            flex-wrap: nowrap;
            label {
                width: 80%;
                margin: 5% auto;
            }
        }
        p {
            width: 90%;
        } */
                    }
                }
            }
        }