    .nav {
        background-color: inherit!important;
        width: 30%;
        float: right;
        li {
            z-index: 1;
            a {
                color: red;
                font-family: 'OpenSans-Italic';
                font-size: 1.2em;
            }
        }
    }