<div class="modal">
    <div class="container">
        <div (click)="cerrar()" class="cerrar">
            (X) Cerrar
        </div>
        <div class="contacto">
            <div class="texto">
                <img src="../../../assets/images/logo.png" alt="Maga Rubiera">
                <label><b>¿Querés contactarme?</b></label>
                <p>Por favor llená el formulario de la derecha.</p>
                <p>Para ver información, contenido, gráficos e imágenes que comparto constantemente, de comunicación y diseño. </p>
                <label><b>Seguime en Instagram.</b><a href="https://www.instagram.com/magarubiera/" target="_blank"><img src="../../../assets/images/logo_ig.png" alt="Maga Rubiera | Instagram" class="logo"></a></label>

                <p class="emailOK" *ngIf="emailOK">Tu consulta fue enviada correctamente. Muchas gracias</p>
            </div>
            <form autocomplete="off" (ngSubmit)="enviarMail()" [formGroup]="form">
                <div class="form-group">
                    <label for="nombre">Nombre y apellido: </label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="contact.name" formControlName="name" placeholder="Ingrese su nombre" minlength="5">
                </div>

                <div class="form-group">
                    <label for="apellido">Email: </label>
                    <input type="text" class="form-control" id="email" [(ngModel)]="contact.email" formControlName="email" placeholder="info@example.com">
                </div>
                <div class="form-group">
                    <label for="Consulta">Asunto</label>
                    <input class="form-control" id="asunto" [(ngModel)]="contact.asunto" formControlName="asunto" placeholder="Ingrese el asunto" />
                </div>
                <div class="form-group">
                    <label for="Consulta">Consulta</label>
                    <textarea class="form-control" id="consulta" rows="3" [(ngModel)]="contact.consulta" formControlName="consulta"></textarea>
                </div>
                <button type="submit" class="btn_consulta">Enviar consulta</button>

            </form>
        </div>
    </div>
</div>