.modal {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100%;
    display: block;
    animation: fadeIn 2s;
    .container {
        width: 90%;
        text-align: center;
        font-family: 'OpenSans-Light-Italic';
        padding: 3%;
        background-color: #FFF;
        overflow-y: scroll;
        height: 95%;
        .emailOK {
            color: green;
            font-size: 1.5em;
        }
        .cerrar {
            text-align: end;
            font-size: 0.6em;
        }
        .cerrar:hover {
            cursor: pointer;
        }
        .contacto {
            img {
                width: 90%;
            }
        }
    }
    .contacto {
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        .texto {
            width: 35%;
            text-align: center;
            img {
                width: 50%;
                margin-bottom: 3%;
            }
            label {
                text-align: left;
                width: 60%;
            }
            p {
                text-align: left;
                font-size: .8em;
                width: 79%;
                margin: 3% auto;
            }
            .logo {
                width: 20%;
                display: block;
                margin: 5% 25%;
            }
        }
        form {
            width: 65%;
            padding: 3%;
            border: solid 1px #f37a83;
            .form-group {
                label {
                    text-align: left;
                    width: 100%;
                    font-size: 0.8em;
                }
                input {
                    font-size: 0.7em;
                    border: solid 1px #f37a83;
                }
                textarea {
                    border: solid 1px #f37a83;
                }
            }
        }
        .btn_consulta {
            background-color: #f37a83;
            border-radius: 25px;
            padding: 2%;
            color: #FFF;
            font-size: 0.8em;
            width: 50%;
        }
    }
}

@media screen and (max-width:720px) {
    .modal {
        .emailOK {
            font-size: 1.2em;
        }
        .contacto {
            flex-direction: column;
            .texto,
            form {
                width: 90%;
            }
        }
    }
    .contacto {
        .texto {
            margin: auto;
            .logo {
                display: inline;
                margin: 4% 15%;
                width: 15%;
            }
            label {
                width: 80%;
            }
            img {
                width: 70%;
                margin-bottom: 3%;
            }
            p {
                width: 70%;
            }
            .logo {
                width: 15%;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .modal {
        .emailOK {
            font-size: 1em;
        }
        .contacto {
            .texto {
                .logo {
                    display: inline;
                    margin: 4% 15%;
                    width: 15%;
                }
                label {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    .modal {
        .emailOK {
            font-size: 0.8em;
        }
        .contacto {
            .texto {
                margin: auto;
                .logo {
                    display: inline;
                    margin: 4% 15%;
                    width: 10%;
                }
                img {
                    width: 90%;
                    margin-bottom: 3%;
                }
                label {
                    width: 90%;
                    font-size: 0.6em;
                }
                p {
                    font-size: 0.5em;
                }
            }
        }
    }
}