<div class="modal">
    <div class="container">
        <span (click)="cerrar('origen')" class="cerrar">(X) Cerrar</span>
        <header>
            <p>
                <span>¿Deseas tener una MARCA que identifique tu EMPRENDIMIENTO?.</span>
                <span>¿Necesitás que tu negocio online se vea como vos querés?  </span>
            </p>
        </header>

        <h5>La solución, sin dudas es la <span>Identidad visual a la carta.</span></h5>

        <div class="modalidad">
            <section>
                <article class="asesoria">
                    <p>La identidad es la columna vertebral de tu comunicación.</p>
                    <p>Porque sin darte cuenta estás hablando por ahí y tal vez estés enviando un mensaje equivocado a tus potenciales clientes. </p>
                    <p> La identidad aúna ideas y transmite valores. La identidad nos identifica y nos lleva a sobresalir entre tantas marcas. La identidad se construye con el tiempo, pero el primer paso sin dudas, es construir lo visual.</p>
                    <p> Por eso te invito a hacerlo juntas, en equipo. Te voy a guíar para que puedas ir descubriendo que es lo que querés decir y cómo. Después lo voy a convertir en la gráfica que te va a acompañar y reflejar los valores de tu marca.</p>
                </article>
                <article>
                    <ul>
                        <li>
                            <h6>¿Cómo vamos a a trabajar?</h6>
                            <p>
                                Te voy a enviar una guía que cree con la intención de exprimir y sacar a la luz todo lo que queres decir con tu marca. Te voy a dar ejemplos para que vayas eligiendo, de ahí el nombre a la carta. Luego de unos días, con la guía resuelta, ya voy a tener
                                la información necesaria para comenzar a diseñar.
                            </p>
                        </li>
                        <li>
                            <h6>¿Cuánto tiempo tarda?</h6>
                            <p>
                                Depende del tiempo que te lleve responder la guía. Una vez que lo hagas, en menos de 5 días hábiles, vas a tener una propuesta basada en lo que fuiste eligiendo. Luego seguiremos trabajando y puliendo hasta llegar a la propuesta final.
                            </p>
                        </li>
                        <li>
                            <h6>¿Qué incluye esta identidad?</h6>
                            <ul>
                                <li>Diseño de Logotipo o isologotipo (dependiendo de lo que elijas)</li>
                                <li>Paleta de colores de tu marca. Primarios y secundarios. </li>
                                <li>Familia de tipografia sugerida para que uses en tus piezas.</li>
                            </ul>
                        </li>
                    </ul>
                </article>
            </section>

        </div>
        <section class="pago">
            <article>
                <span><b>-De REGALO:</b></span>
                <span>-Diseño de 6 Highlights para tu Instagram (diseño circular para historias destacadas).</span>
                <label>El Valor de la Identidad es de $6000. (residentes argentinos)</label>
                <label>El Valor de la Identidad es de 64 USD. (residentes en el exterior)</label>
                <ul>
                    <li>Para iniciar el trabajo, se pide el 50% de seña y al terminar se completa el mismo.</li>
                    <li>Medios de pago: Transferencia Bancaria, Mercado Pago (Para residentes de Argentina tarjetas de débito y crédito), sin costo alguno.</li>
                </ul>
            </article>
            <article class="botones">
                <label (click)="cerrar('asesoria')" for="Quiero mi asesoria">Quiero mi asesoría</label>
                <!-- <label (click)="cerrar()" for="Quiero despejar dudas">Quiero despejar dudas</label> -->
            </article>
            <img src="../../../assets/images/arrow.png" alt="" class="arrow">
            <p>Una vez que se acredita el pago, me voy a estar comunicando con vos por mail.</p>
        </section>
    </div>
</div>