.modal {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    height: 100%;
    display: block;
    animation: fadeIn 2s;
    .container {
        width: 60%;
        text-align: center;
        font-family: 'OpenSans-Light-Italic';
        padding: 3%;
        background-color: #FFF;
        overflow-y: scroll;
        height: 95%;
        .cerrar:hover {
            cursor: pointer;
            color: red
        }
        header {
            background-color: #f37a83;
            background-image: none;
            color: #000;
            font-size: 1em;
            margin: 2% auto;
            width: 80%;
            p {
                color: white;
                padding: 10%;
                height: max-content;
                span {
                    display: block;
                }
            }
        }
        h5 {
            color: #25b7ac;
            margin: 5% 0;
            font-family: 'OpenSans-Semibold';
            span {
                color: #25b7ac;
            }
        }
        .modalidad {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
        section {
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            article {
                width: 90%;
                text-align: left;
                line-height: normal;
                // margin: auto;
                font-size: 0.9em;
            }
            .asesoria {
                background-color: #ff404f;
                color: #FFF;
                padding: 3% 2% 0 2%;
                justify-content: center;
                text-align: left;
                font-size: 0.9em;
                margin-bottom: 2%;
            }
        }
        h6 {
            text-align: left;
            color: #ff404f;
            font-family: 'OpenSans-Light-Italic';
        }
        .trabajar {
            margin-bottom: 5%;
        }
        ul {
            font-size: 1.1em;
            list-style: none;
            padding-left: 20px;
            li {
                position: relative;
                text-align: left;
                h6 {
                    position: absolute;
                    top: 0;
                }
            }
            li::before {
                content: "\2022";
                color: red;
                font-weight: bold;
                display: inline-block;
                font-size: 1.2em;
                bottom: 0;
                // margin-right: 3%;
                margin-left: -0.5em;
            }
        }
        .pago {
            width: 100%;
            margin-top: 7%;
            justify-content: left;
            span {
                display: block;
            }
            .tachado {
                text-decoration: line-through;
            }
            .arrow {
                width: 3%;
                height: 1%;
                float: left;
            }
            p {
                font-size: 0.8em;
                width: 35%;
                text-align: left;
                margin: 5%;
                margin-left: 2%;
                font-size: 0.85em;
            }
            .botones {
                width: 100%;
                margin: auto;
                display: flex;
                justify-content: space-between;
                label {
                    font-size: 1.2em;
                    margin-top: 5%;
                    background-color: #25b7ac;
                    border-radius: 25px;
                    color: #FFF;
                    width: 40%;
                    padding: 1%;
                    text-align: center;
                    font-family: 'OpenSans-Regular';
                }
                label:hover {
                    cursor: pointer;
                }
            }
        }
    }
}