@import '../assets/css/animate.css';
@font-face {
    font-family: "OpenSans-Regular";
    src: url('../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url(../assets/fonts/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: "OpenSans-Light";
    src: url(../assets/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "OpenSans-Light-Italic";
    src: url(../assets/fonts/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: "OpenSans-Italic";
    src: url(../assets/fonts/OpenSans-Italic.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "OpenSans-Regular";
}