<div class="modal">
    <div class="container">
        <span (click)="cerrar()" class="cerrar">(X) Cerrar</span>
        <header>
            <p>
                <span>Si todos los días te preguntas: <b>¿Qué posteo hoy?.</b></span>
                <span>Si no sabés como convertir a tus <b>seguidores en clientes.</b> </span>
            </p>
        </header>

        <h5>Entonces necesitás <span>trabajar la Comunicación de tu emprendimiento.</span></h5>

        <div class="modalidad">
            <section>
                <article class="asesoria">
                    <p>Asesoria en comunicación para tu marca, en especial para las redes sociales.</p>
                    <p> Es una asesoría pensada para que puedas aprender como y a quién hablarle. Vas a poder encontrar lo que te diferencia y hacer enfásis en la comunicación.</p>
                </article>
                <article>
                    <h6>¿Qué vas a lograr al poner en práctica todo lo que vas a aprender?</h6>
                    <ul>
                        <li>Identificar a quién y cómo le vas a hablar en tus redes.</li>
                        <li>Ver y potenciar desde la comunicación, visual y textual, lo que te diferencia de tus pares.</li>
                        <li>Generar contenido para tú público objetivo.Qué ese contenido sea coherente, planeado y planificado para lograr una comunidad (seguidores qué se pueden convertir en clientes de lo que vendés).</li>
                        <li>Vamos a trabajar en la necesidad de tu negocio y problemáticas de comunicación puntuales.</li>
                        <li>Al planificar, lográs solvencia, continuidad en las redes, y previsión de fechas importantes (ej, Navidad, BlackFriday).</li>
                    </ul>
                </article>
            </section>
            <section>
                <article>
                    <h6 class="trabajar">¿Cómo vamos a a trabajar?</h6>
                    <p>Son dos encuentros de aproximadamente una hora y media de duración.</p>
                    <p>En el primer encuentro sentamos las bases teóricas, te vas a llevar material para trabajar. El cuál vamos a desarrollar en profundidad, en el segundo encuentro, 15 días después </p>
                    <p>Los temas que vamos a ver son:</p>
                    <ul>
                        <li> Definimos público objetivo, diferencial y te muestro como hacer un plan de acción para la comunicación en tus redes.</li>
                        <li> Que querés decir, que valores tiene tu marca. Código réptil de tu marca.</li>
                        <li> Definimos el como: ideas de posteos. Ideas para escribir con coherencia.</li>
                        <li> Aprendemos de Instagram: Alcance, engagement y comunidad.</li>
                        <li> Campañas para crear a largo plazo y planeamiento de posteos.</li>
                        <li> Aplicaciones para facilitarte la labor.</li>
                    </ul>
                </article>
            </section>
        </div>
        <section class="pago">
            <article>
                El Valor de la asesoría en promoción es de ̶$3200 (pesos Argentinos)
                <ul>
                    <li> Medios de pago: Transferencia Bancaria y Mercado Pago (tarjetas de débito y crédito), sin costo alguno.</li>
                </ul>
            </article>
            <article class="botones">
                <a href="http://mpago.la/2KgDh1J">Quiero mi asesoría - Argentina</a>
                <a href="https://www.paypal.com/invoice/p/#INV2-NEX9-L7CN-SKQB-9UP6">Quiero mi asesoría - Exterior</a>
                <!-- <label for="Quiero despejar dudas">Quiero despejar dudas</label> -->
            </article>
            <p>Una vez que se acredita el pago, me voy a estar comunicando con vos por mail.</p>
        </section>
    </div>
</div>