<header>
    <!--<app-navbar>
    </app-navbar>-->
    <p class="web">Estamos creando una Web hermosa, con contenido gratuito para vos. Muy pronto estará disponible</p>
    <div class="presentacion">

        <div class="texto">
            <p class="hola">¡Hola! Soy Magali, diseñadora gráfica.
                <span>Fan de la buena comunicación</span>
            </p>
            <p class="expresividad">Quiero ayudarte a descubrir la voz de tu marca.</p>
            <p class="vende">¡Vendé siendo vos!</p>
        </div>
        <img src="../../../assets/images/magui.png" alt="Magui" class="magui">

    </div>

</header>
<h3>Seleccioná una imagen y descubrí en que te AYUDO.</h3>
<section class="servicios">

    <article class="identidad" (click)="mostrarModal('explora')">
        <img src="../../../assets/images/explora.jpg" alt="Explorá" class="explora">
        <div class="caja">

            <h5>Identidad a la carta</h5>
            <p><span>Identidad visual de tu marca.</span> Logo + tipografía + colores. Un cuestionario para que explores y elijas y yo lo diseño para vos</p>
        </div>
    </article>
    <article class="comunicate" (click)="mostrarModal('comunicate')">
        <img src="../../../assets/images/comunicate.jpg" alt="Comunicá" class="comunica">
        <div class="caja">
            <h5>Asesoría en Comunicación</h5>
            <p><span>2 encuentros virtuales.</span>
                <span> Vos y yo, y toda la información que necesitás para convertir a tus seguidores en clientes.</span></p>
        </div>
    </article>
    <article class="asesoria" (click)="mostrarModal('asesoria')">
        <img src="../../../assets/images/asesoria.jpg" alt="Comunicá" class="comunica">
        <div class="caja">
            <h5 style="margin-top:5%">Asesoría + Identidad + regalos</h5>
            <p><span>2 Encuentros virtuales, y este combo que te va a solucionar tu vida emprendedora.</span> Si no sabés cómo encarar la comunicación de tu marca en las redes, y también necesitás crear tu identidad visual. Esto es para vos.</p>
        </div>
    </article>
</section>

<p class="web portfolio"><a href="https://www.behance.net/maguishant99d0" target="blank">Para ver mi portfolio con trabajos de diseño, podes hacerlo acá.</a></p>

<footer>
    <label class="contacto" (click)="mostrarModal('contacto')">Contacto</label>
    <a href="https://www.instagram.com/magarubiera/" target="_blank"><img src="../../../assets/images/logo_ig.png" alt="Maga Rubiera | Instagram" class="ig"></a>
</footer>
<app-modal-comunicate (mostrar)="mostrar($event,'comunicate')" [visible]="comunicateVisible" *ngIf="comunicateVisible"></app-modal-comunicate>
<app-modal-explora (mostrar)="mostrar($event,'explora')" [visible]="comunicateExplora" *ngIf="comunicateExplora"></app-modal-explora>
<app-modal-contacto (mostrar)="mostrar($event,'contacto')" [visible]="mostrarContacto" *ngIf="mostrarContacto"></app-modal-contacto>
<app-modal-asesoria (mostrar)="mostrar($event,'asesoria')" [visible]="mostrarAsesoria" *ngIf="mostrarAsesoria"></app-modal-asesoria>