* {
    font-family: 'OpenSans-Regular';
}

.modal {
    width: 100%;
    background-color: #000;
    position: fixed;
    height: max-content;
    display: block;
}

.web {
    background-color: #e8526f;
    color: #FFF;
    text-align: center;
    font-family: 'OpenSans-Regular';
    margin: 3% auto;
    width: 65%;
}

.portfolio {
    width: 60%;
    font-size: 1.2em;
    margin: 5% auto;
    a {
        text-decoration: none;
        color: #FFF
    }
}

header {
    display: flex;
    flex-direction: column;
    background-image: url(../../../assets/images/fondoweb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    // height: max-content;
    position: relative;
    .presentacion {
        display: flex;
        flex-direction: row;
        width: 100%;
        .magui {
            position: absolute;
            bottom: 0;
            width: 30%;
            right: 10%;
        }
        .texto {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        p {
            font-size: 1.4em;
            margin-top: 5%;
        }
        .hola {
            width: 100%;
            font-family: 'OpenSans-Light-Italic';
            span {
                display: block;
                font-size: 1.3em;
                font-family: 'OpenSans-Light-Italic';
            }
        }
        .expresividad {
            color: #FF404D;
            font-size: 1.2em;
            text-align: left;
            font-family: 'OpenSans-Regular';
            font-weight: bold;
        }
        .vende {
            width: 50%;
            font-size: 1.5em;
            color: #000;
            background-image: url(../../../assets/images/subrayado.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            margin-bottom: 0;
            text-align: center;
            font-family: 'OpenSans-Regular';
        }
        .lista {
            margin-left: 5%;
            font-size: 1.9em;
            width: 70%;
            margin: 0;
            color: #2ad5cd;
            text-align: left;
            font-family: 'OpenSans-Light-Italic';
        }
    }
}

h3 {
    text-align: center;
    background-color: #25b7ac;
    color: #FFF;
    border-radius: 25px;
    width: 60%;
    margin: 4% auto;
    font-family: 'OpenSans-Italic';
}

.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 5%;
    article:hover {
        cursor: pointer;
    }
    article {
        animation: fadeInRight 2s;
        justify-items: center;
        background-color: #f37a83;
        padding: 5%;
        img {
            width: 100%;
            align-self: center;
        }
        .caja {
            height: 40%;
            align-self: center;
            padding: 8%;
            background-color: #FFF;
        }
        h4,
        h5,
        h6 {
            color: #ff404f;
            align-self: end;
            text-align: center;
            font-family: 'OpenSans-Regular';
            width: 100%;
        }
        p {
            width: 80%;
            margin-bottom: 0;
            align-items: flex-end;
            margin: 0 auto;
            font-family: 'OpenSans-Light-Italic';
        }
    }
    .identidad {
        display: flex;
        flex-direction: column;
        .caja {
            p {
                margin: 10% auto;
            }
        }
        h5 {
            grid-column: 1 / 11;
        }
        p {
            span {
                font-weight: 600;
            }
        }
    }
    .comunicate {
        .caja {
            padding: 8%;
        }
        p {
            margin: 10% auto;
            span {
                display: block;
                font-family: 'OpenSans-Light-Italic';
            }
            span:first-child {
                font-family: 'OpenSans-Regular';
                font-weight: 600;
            }
            margin-bottom: 0;
            width: 100%;
        }
    }
    .asesoria {
        align-items: center;
        .caja {
            padding: 3%;
            p {
                margin: 10% auto;
            }
        }
    }
}

footer {
    width: 30%;
    margin: auto;
    text-align: center;
    .contacto:hover {
        cursor: pointer;
    }
    label {
        margin: 5%;
        color: #f37a83;
        font-family: "OpenSans-Italic";
    }
    img {
        width: 15%;
    }
}