/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "OpenSans-Regular";
    src: url('assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url('assets/fonts/OpenSans-Semibold.ttf');
}