<div class="modal">
    <div class="container">
        <span (click)="cerrar()" class="cerrar">(X) Cerrar</span>
        <header>
            <p>
                <span><b>Si recién comenzás tu negocio digital. Si no tenés una marca que representa lo que querés. Pero tampoco  sabés como encarar tu comunicación. </b></span>
                <span>Si no sabés como hacer tu feed más profesional, para vender por la red social.</span>
            </p>
        </header>

        <h5><span>No desesperes trabajemos en todo: Comunicación e identidad</span></h5>

        <div class="modalidad">
            <section>
                <article class="asesoria">
                    <p>Asesoría en comunicación para tu marca, en especial para las redes sociales.</p>
                    <p> Es una asesoría pensada para que puedas aprender cómo y a quién hablarle. Vas a poder encontrar lo que te diferencia y hacer énfasis en la comunicación.</p>
                    Vas a aprender a realizar contenido de valor para tus potenciales clientes.

                    <p>Vas a aprender a convertir tus seguidores en clientes, logrando una comunidad sólida.</p>

                    <p>Identidad Visual, logotipo + tipografías + color.</p>

                    <p>Luego de que repondas un cuestionario que nos va a acercar a lo que querés y habiendo trabajado en la comunicación de tu emprendimiento. Voy a plasmar tu marca, lo que te va a identificar, y que va hacer sobresalir visualmente entre
                        tantas marcas. </p>
                    <p>Después de que respondas la guía, tengo 15 días para presentarte dos propuestas, y así seguir trabajando juntxs hasta lograr la marca que buscas.</p>
                </article>
                <!-- <article>
                    <h6>¿Qué vas a lograr al poner en práctica todo lo que vas a aprender?</h6>
                    <ul>
                        <li>A definir colores para que todo tu Instagram se vea más profesional.</li>
                        <li>Ver y potenciar desde la comunicación visual lo que te diferencia de tus pares.</li>
                        <li>Editar fotos desde tu celular, de un modo simple y práctico para tus publicaciones.</li>
                        <li>Aprender a diseñar las placas con texto para generar contenido para tus seguidores.</li>
                        <li>Vas a tener herramientas, para las historias y que logres tener interacción por ahí también.</li>
                    </ul>
                </article> -->
            </section>
            <section>
                <article>
                    <h6 class="trabajar">¿Cómo vamos a a trabajar?</h6>
                    <p>Son dos encuentros online, de aproximadamente una hora y media de duración para la Asesoría y aproximadamente 1 mes para crear la Identidad entre idas y vueltas.</p>
                    <p>En el primer encuentro de la Asesoría sentamos las bases teóricas, te vas a llevar material para trabajar. El cuál vamos a desarrollar en profundidad, en el segundo encuentro, 15 días después</p>
                    <p>Los temas que vamos a ver son:</p>
                    <ul>
                        <li>Definimos público objetivo, diferencial y te muestro como hacer un plan de acción para la comunicación en tus redes.</li>
                        <li>Que querés decir, que valores tiene tu marca. Código réptil de tu marca.</li>
                        <li>Definimos el como: ideas de posteos. Ideas para escribir con coherencia.</li>
                        <li>Aprendemos de Instagram: Alcance, engagement y comunidad.</li>
                        <li>Campañas para crear a largo plazo y planeamiento de posteos.</li>
                        <li>Aplicaciones para facilitarte la labor.</li>
                    </ul>

                </article>
            </section>
        </div>
        <section class="pago">
            <article>
                <span><b>-De REGALO:</b></span>
                <span>-Diseño de 6 Highlights para tu Instagram (diseño circular para historias destacadas).</span>
                <label>-2 Plantillas vacias, para usar en tu Instagram con los colores de tu marca</label>
                <ul>
                    <li>El Valor total del trabajo es de $8200. (residentes argentinos) y de 85 USD. (residentes en el exterior)</li>
                </ul>
            </article>
            <article class="botones">
                <a href="http://mpago.la/2qCXSEb">¡Quiero todo! Argentina</a>
                <a href="https://www.paypal.com/invoice/p/#INV2-YUUA-REN8-4T4W-EBWC">¡Quiero todo! Exterior</a>
                <!-- <label for="Quiero despejar dudas">Quiero despejar dudas</label> -->
            </article>
            <p>Una vez que se acredita el pago, me voy a estar comunicando con vos por mail.</p>
        </section>
    </div>
</div>